<head>
    <style>
        #NameToBtn{
          border:none;
          background-color:rgba(0,0,0,0);
        }
    </style>
</head>

<table style="height:auto; margin-bottom: 80px;" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Download</th>
      <th scope="col">Name</th>
      <th scope="col">Path</th>
      <th scope="col">UploadedTime</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var elements in Model)
        {
            <tr>
             <th scope="row">@elements.Id</th>
             <td>@Html.ActionLink("🔥", "Download","Home", new { filename = elements.Name })</td>
             <td><form method="get" asp-controller="Home" asp-action="ParentSelectViewPartial"> <button id="NameToBtn" type="Submit" nameInfoclick(@elements.Id)"style="cursor: pointer; text-decoration:none;" data-toggle="modal" data-target="#ModalStats">@elements.Name</button> </form></td>
             <td>@elements.Path</td>
             <td>@elements.UploadedDateTime.ToShortDateString()</td>
            </tr>
        }
  </tbody>
</table>

